%h1 About Brett Goulder

Brett Goulder is a graduate from Ritsumeikan Asia Pacific University in Japan.  Currently, he is finishing his Masters of Interaction Multimedia at the University of Technology, Sydney.
