%header
  .vcard
    %p.fn
      %a.url{:href => "http://www.brettgoulder.com"} Brett Goulder
    .contact
      .left_box
        %p mobile:
        %p email:
        %p address:
      .right_box
        %p.tel +61 (0)450 183 112
        %p.email <a href="mailto:brett.goulder@gmail.com">brett.goulder@gmail.com</a>
        %p.adr
          %span.street-address B308/444 Harris St<br />
          %span.region Ultimo, NSW
          %span.postal-code 2007<br />
          %span.country-name Australia
%section#content
  %section#intro.cv_section
    %h1 Intro
    %p Howdy! I am looking for a position as a junior Ruby on Rails developer to kick off my career.  I have a natural sense for the web and I am really driven to make myself into a better programmer.  If this sounds interesting to you, lets chat.
  %section#skills.cv_section
    %h1 Skills
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td Ruby, Rails, Sinatra
        %td Python, Django
      %tr
        %td HTML, CSS, JQuery
        %td Git
      %tr
        %td Driven, enjoys coding outside of office hours
        %td Personable and easy to get along with
  %section#career.cv_section
    %h1 Career
    .job
      %h2 Steam Motion &amp; Sound
      %p.location Sydney, Australia
      %p.date Jun 2010 - Present
      %p.role Web Developer
      %p.description
        %ul
          %li Released several sites in a very short period including a Shopify redesign and several Sinatra-based sites 
    .job
      %h2 The Interaction Consortium
      %p.location Sydney, Australia
      %p.date Jun 2009 - Jun 2010
      %p.role Web Developer
      %p.description
        %ul
          %li Helped contribute to a new framework which targets galleries, libraries archives and museums called GLAMkit
          %li Brought technical change to the company by moving the entire team to Git
          %li Self-sufficient with clients in which I lead two projects on my own
    .job
      %h2 Ritsumeikan Asia Pacific University
      %p.location Beppu, Japan
      %p.date Sep 2004 - Aug 2005
      %p.role Research Assistant
      %p.description
        %ul
          %li Collected an analysed psychometric survey results from over 2000 worldwide participants
          %li Was involved in publishing two psychometric scales in academic journals
  %section#education.cv_section
    %h1 Education
    .school
      %h2 University of Technology, Sydney
      %p.location Sydney, Australia
      %p.date Jul 2008 - Jun 2010
      %p.degree Masters in Interactive Multimedia
    .school
      %h2 University of Technology, Sydney
      %p.location Sydney, Australia
      %p.date August 2009 - Jun 2010
      %p.degree Diploma of IT Professional Practices
    .school
      %h2 Ritsumeikan Asia Pacific University
      %p.location Beppu, Japan
      %p.date Sep 2001 - Sep 2005
      %p.degree Bachelor of Business Administration
  %section#awards.cv_section
    %h1 Awards
    %ul
      %li Ritsumeikan Asia Pacific University Scholarship A - 100% Tuition Reduction