!!!
%html{:lang => "en"}
  %head
    %meta{'charset' => 'UTF-8'}
    %title Brett Goulder CV
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css", :type => "text/css", :media => "screen"}
    = partial "typekit"
  %body
    .container
      = yield