!!!
%html{:lang => "en"}
  %head
    %meta{'charset' => 'UTF-8'}
    %link{:rel => 'license', :href => 'http://creativecommons.org/licenses/by-nc/2.5/au'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "screen"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
    /[if IE]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js', :type => 'text/javascript'}
    = partial "typekit"
    %title= @title || "Brett Goulder"
  %body{:class => @body_class || 'hello'}
    .container-outer
      .container
        %header
          %a{:href => '/'}
            %h1
              Brett Goulder
        %section#content
          = yield
    :erb
      <script type="text/javascript">
      (function(d,n){
        var e =d.createElement(n),s=d.getElementsByTagName(n)[0];e.async=true;
        e.src="//speedo.no.de/client.js#{'account':'2795580313821'}";
        s.parentNode.insertBefore( e, s );
      })(document,"script");
      </script>