/* @override 
	http://localhost:9393/css/style.css
*/

html, body { height: 100%;}
body {font-size: 62.5%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #649A76 url(/images/background.jpg) repeat-x; }

/* Typography */
p { color: #F2FFF7; font: 1.8em chunk-1, chunk-2, "Lucinda Grande", Verdana, sans-serif; }
h1 { padding: 20px 0; font: 8em "league-gothic-1","league-gothic-2", "Lucinda Grande", Verdana, sans-serif; color: #F2FFF7; }
header nav li a { text-decoration: none; color: #F2FFF7; }
header nav li a:hover { text-decoration: none; color: #F2FFF7; }
header nav li { font: 4em "league-gothic-1","league-gothic-2"; display: inline; text-transform: lowercase; margin-right: 80px; }
header nav li.last { margin-right: 0; }
#content nav li { font: 5em "league-gothic-1","league-gothic-2"; list-style: none; }
#content nav li a { color: #487256; text-decoration: none;}
#content nav li a:hover { color: #333;}

/* Layout */

#content h1 { font-size:4em;}

header { position: relative; height: 140px;}
header nav { position: absolute; top: 59px; right: 0;}

footer { background-color: #487256; height: 150px; width: 100%;}
footer p { font-size: 2em; position: relative; top: 115px; text-align: center; }