%img{:src => '/images/portfolio/agnsw.jpg' :width => '590' :height => '374'}
%h1 The Art Gallery of NSW
%a{:class => 'url', :href => 'http://www.artgallery.nsw.gov.au', :rel => 'external', :title => 'The Art Gallery of NSW'} http://www.artgallery.nsw.gov.au
%p I was involved in a project with The Interaction Consortium where I helped them in the creation of the Art Gallery of NSW website.  During the time which I worked on this project, I helped them create an e-commerce shop for the new website, and also did some general tasks in the backend.  
%ul
  %li Backend Django
  %li Frontend work(HTML, CSS, Javascript)