%img{:src => '/images/portfolio/australianscreen.jpg', :width => '590', :height => '374', :alt => 'Australian Screen'}
%h1 Australian Screen
%a{:class => 'url', :href => 'http://www.aso.gov.au', :rel => 'external', :title => 'Australian Screen'} http://www.aso.gov.au
%p For Australian Screen, I had a chance to work on the first phase of the Sounds of Australia project.  I helped refactor templates and models in order to support new functionality to show of sounds from Australia's past.
%p This is a multiphase project for the ASO and more features are expected in future iterations.
%ul
  %li Backend Django
  %li Frontend work(HTML, CSS, Django template refactoring)