%img{:src => '/images/portfolio/agnsw.jpg' :width => '590' :height => '374'}
%h1 Bulb Studios
%a{:class => 'url', :href => 'http://www.bulbstudios.com', :rel => 'external', :title => 'Bulb Studios'} http://www.bulbstudios.com
%p One of the first projects which I was involved with at the <a href="http://www.interaction.net.au">Interaction Consortium</a> was the Bulb Studios project.  Bulb Studios is a fantastic graphic design company based out of Leicester, UK.  They needed their site redesigned and for it to be easy to manage their content.  
%p We decided to use Django our tool to manage the portfolio, media as well as being able to share specific portfolio items with friends. 
%ul
  %li Backend Django(Portfolio, Tell-A-Friend, File LIbrary)
  %li Frontend work(HTML, CSS, Javascript)