%img{:src => '/images/portfolio/agnsw.jpg'}
%h1 Bulb Studios
%a{:class => 'url', :href => 'http://www.bulbstudios.com/'} http://www.bulbstudios.com/

%p One of the first projects which I was involved with at the <a href="http://www.interaction.net.au">Interaction Consortium</a> was the Bulb Studios project.  Bulb Studios is a fantastic 
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
%ul
  %li Backend Django
  %li Frontend work(HTML, CSS, Javascript)