%img{:src => '/images/portfolio/georgekhut.jpg'}
%h1 George Khut
%a{:class => 'url', :href => 'http://www.georgekhut.com', :rel => 'external', :title => 'George Khut'} http://www.georgekhut.com
%p Local Sydney artist, George Khut, came in to the <a href="http://www.interaction.net.au">Interaction Consortium</a> in order to create a personal website for himself in order to show off his work and exhibitions.  This involved getting him setup on Wordpress and also working with his graphic designs in order to match his typography.
%h3 Responsibilities include:
%ul
  %li Wordpress setup
  %li Frontend(HTML, CSS)