%img{:src => '/images/portfolio/glamkit.jpg', :width => '590', :height => '374'}
%h1 GLAMKit.org
%a{:class => 'url', :href => 'http://www.glamkit.org', :rel => 'external', :title => 'GLAMKit.org'} http://www.glamkit.org

%p As part of my final project for my <a href="http://mim.iml.uts.edu.au/">Masters in Interaction Multimedia</a> at the <a href="http://www.uts.edu.au">University of Technology, Sydney</a>, I had a chance to create a community website for an upcoming opensource framework which is used to create gallery, library, archive and museum websites.  This framework is being used on the upcoming Art Gallery of NSW website along with the upcoming National Film and Sound archive website.  The goal for this website was to provide a good location for the documentation as well as being able to educate worldwide institutions on why they should consider using the GLAMKit framework for their next open-source project.  It has had a great reception from the community so far as it continues to grow.
%p I worked with a team of two other people in order to create the content, art, backend development using Django, as well as the frontend development for the website.

%h3 Responsibilities include:
%ul
  %li Project management
  %li Backend Django
  %li Frontend work(HTML, CSS, Javascript)