%img{:src => '/images/portfolio/sopp.jpg', :width => '590', :height => '374'}
%h1 Sopp Collective
%a{:class => 'url', :href => 'http://www.soppcollective.com', :rel => 'external', :title => 'Sopp Collective'} http://www.soppcollective.com
%p Sopp is a collective of a few artists who have an office right next to the Interaction Consortium.  They do AMAZING design work.  They have worked with us on sites such as Vivid Sydney, Vivacity, and they are going to be working with us on the upcoming GLAMKit Community Site project.  For this site, I mainly did some Django backend work.  I also implemented a JQuery Pluging called Masonry(http://desandro.com/resources/jquery-masonry) which does a best fit algorithm on floated elements.  So, in other words, I can get images to properly align into columns.

%h3 Responsibilities include:
%ul
  %li Backend Django
  %li Frontend work(HTML, CSS, JQuery)
  %li Got everything to function correctly using <a href="http://www.desandro.com/">David Desandro</a>'s awesome <a href="http://desandro.com/resources/jquery-masonry/">JQuery Masonry</a> project.