%img{:src => '/images/portfolio/sopp.jpg'}
%h1 Sopp Collective
%a{:class => 'url', :href => 'http://www.soppcollective.com', :rel => 'external', :title => 'Sopp Collective'} http://www.soppcollective.com
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

%ul
  %li Backend Django
  %li Frontend work(HTML, CSS, Javascript)
  %li Got everything to function correctly using <a href="http://www.desandro.com/">David Desandro</a>'s awesome <a href="http://desandro.com/resources/jquery-masonry/">JQuery Masonry</a> project.